{% load static %}


<!doctype html>

<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

{#<nav class="navbar navbar-expand-sm bg-primary navbar-dark">#}
{#    <ul class="navbar-nav">#}
{##}
{##}
{#        <li class="nav-item ">#}
{#            <a class="nav-link" href="#">#}
{#                All tweets#}
{#            </a>#}
{#        </li>#}
{#        <li class="nav-item ">#}
{#            <a class="nav-link" href="#">#}
{#                Send private message#}
{#            </a>#}
{#        </li>#}
{#    </ul>#}
{##}
{#</nav>#}
{% block content %}
    <div class="container text-center">
        <h1>Screen shots preview</h1>
            <ul class="list-group list-group-flush">
            {% for screen in screen_shots %}
                <li class="list-group-item">

                    <img src="{{ screen.get_img_url }}" class="rounded" alt="{{ screen.filename }}" width="304" height="236">
                <b>{{ screen.filename }}</b>

                </li>
            {% endfor %}
            </ul>
</div>
    </div>

    <p><img src="img_api/test.jpg"></p>
{% endblock %}

</body>
</html>
